aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
amqp==5.1.1
anyio==3.6.2
asgiref==3.6.0
async-timeout==4.0.2
attrs==22.2.0
billiard==3.6.4.0
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
clickhouse-driver==0.2.5
Django==4.1.7
django-clickhouse==1.2.1
django-jazzmin==2.6.0
eskiz-sms==0.2.2
frozenlist==1.3.3
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
idna==3.4
infi.clickhouse-orm==2.1.3
iso8601==1.1.0
kombu==5.2.4
multidict==6.0.4
Pillow==9.4.0
prompt-toolkit==3.0.37
pycparser==2.21
pygame==2.2.0
PyJWT==2.6.0
pymunk==6.4.0
python-dotenv==1.0.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
requests==2.28.2
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.3
statsd==4.0.1
twilio==7.16.4
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.14
vine==5.0.0
wcwidth==0.2.6
yarl==1.8.2
